{% extends 'layout.html' %}
{% load static %}
{% block title %}Index{% endblock %}
{% block body %}
    <div class="about-photo">
        <h1>HAQQIMIZDA</h1>
    </div>
    <div class="about-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu lacus sed quam mollis dignissim a at
            orci. Nullam non faucibus augue. Vivamus ac vestibulum quam. Proin maximus erat ac augue pellentesque, vel
            imperdiet felis vestibulum. Quisque felis velit, varius eget sem in, mollis sagittis quam. Pellentesque
            laoreet leo nec metus accumsan, et ultricies felis placerat. Nulla vehicula interdum dolor sed fringilla.
            Duis porta nibh urna, a scelerisque erat dignissim eu. Phasellus sit amet luctus orci. Pellentesque lectus
            dui, suscipit id libero eu, ultrices pretium nulla. Nunc volutpat nisi in dui mollis, consequat fermentum
            dolor condimentum. Proin condimentum dapibus dictum.
        </p>
    </div>

{% endblock %}